<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Login</h3>
    <p>
        <%= link_to 'Entrar', new_user_session_path %>
    </p>

    <h3>Log out</h3>
    <p>
        <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
    </p>
</body>
</html>